@media only screen and (max-width: 400px) {
    

          img[src="./images/desktop/image-transform.jpg"]{
            width: 50%;
            height: 50%;
        }

        img[src="./images/desktop/image-stand-out.jpg"]{
            width: 50%;
            height: 50%;
        }


  }

/*Min Screen*/
@media only screen and (min-width: 400px) {

          img[src="./images/desktop/image-transform.jpg"]{
            width: 50%;
            height: 50%;
        }

        img[src="./images/desktop/image-stand-out.jpg"]{
            width: 50%;
            height: 50%;
        }


  }
 
  
img[src="./images/image-emily.jpg"]{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 20%;
    position: relative;
    left:120px;
    
}

img[src="./images/image-thomas.jpg"]{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 20%;
    position: relative;
    left:120px;
}

img[src="./images/image-jennie.jpg"]{
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    height: 20%;
    width: 20%;
    position: relative;
    left:120px;
}

img[src="./images/desktop/image-header.jpg"]{
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20%;
    display:block;
}