@media only screen and (max-width: 400px) {
    header {
        background-image: url(./images/desktop/image-header.jpg);  
        background-size: auto;
      }

          img[src="./images/desktop/image-transform.jpg"]{
            width: 50%;
            height: 50%;
        }

        img[src="./images/desktop/image-stand-out.jpg"]{
            width: 50%;
            height: 50%;
        }


  }

/*Min Screen*/
@media only screen and (min-width: 400px) {
    header {
        background-image: url(./images/desktop/image-header.jpg);  
        background-size: 50% 50%;
      }

          img[src="./images/desktop/image-transform.jpg"]{
            width: 50%;
            height: 50%;
        }

        img[src="./images/desktop/image-stand-out.jpg"]{
            width: 50%;
            height: 50%;
        }


  }
 
  

