.main-content{
    width: 900px;
    height:fit-content;
}



/*Main-transform display*/
.main-transform{
    display: flex;
    align-items: center;
    align-content: center;
}

.main-transform >*{
    flex:1 1;
}

.transform{
    align-items: flex-start;
}

.transform-img{
    background-position: center;
}

/*Main-standout display*/
.main-standout{
    display:flex;
    align-items: center;
    justify-content: center;
}

.main-standout>*{
    flex:1 1;
}

.standout-img {
    background-position: center;
}

/*Main-graphic display*/
.main-graphic-photography{
    display: flex;
    align-items: center;
}
.main-graphic-photography>*{
    flex:1 1;
}
.main-graphic{
    background-image: url(./images/desktop/image-graphic-design.jpg);
}

.main-photography{
    background-image: url(./images/desktop/image-photography.jpg);
}

/*Main-testimonials*/
.main-testimonials{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 100px);
    
}

.main-testimonial-heading{
    grid-column: 1 / -1;
    align-items: center;
}


.testimonial-flex{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}


.testimonial1{
    display: flex;
    align-self: flex-start;
}

.testimonial2{
    display: flex;
    align-self: center;
  
}

.testimonial3{
    display: flex;
    align-self: flex-end;
    
}

.bottom-img{
    display:flex;
    flex-direction: row;
    justify-content: center;

}

.nav-div{
    justify-content: end;
}

.nav-footer{
    justify-content: center;
}