.container {
    height:100%;
    display: grid;
    grid-gap:1px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 400px auto 50px;
    grid-template-areas: 
    "h h h h h h h h h h h h"
    "c c c c c c c c c c c c"
    "f f f f f f f f f f f f"
    ;
}

.header {

    /** The below script lets the header span across the entire first row, the header will start at the 1st column row and end at the 3rd column line.**/
    grid-area: h;
    margin-bottom: 50px;
    padding: 50px;
}

.content {
    grid-area: c;
    height:auto;
}

.footer {
    background-color: orange;
    grid-area: f;
    justify-content: center;
    align-items: center;
    align-content: center;
    
}


/*Text formatting*/
h1{
    text-align:center;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}


h2{
    text-align: center;
    padding:10px 50px 10px 50px;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}

h3{
    text-align:center;
    font-family: 'Barlow', sans-serif;
    font-family: 'Fraunces', serif;
}
p{
    line-height:25px;
    padding:10px 50px 10px 50px;
    text-align: center;
    Font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

.name{
    font-weight:100;

}

/*Nav*/
li,a {
    font-family: 'Barlow', sans-serif;
    font-weight:300;
    font-size: 10px;
    text-decoration: none;
    color:white;
}

.nav-div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding:30px 10%;
}

.nav-hlinks{
    list-style: none;
}

.nav-hlinks li {
    display:inline-block;
    padding: 0px 20px;
    color:white;
    
}


.nav-hlinks li a:hover{
    color:black;
    background-color: aliceblue;
    border-radius: 20px;
    padding:10px;
    font-weight: 800;
}